.info-wrapper {
    vertical-align: middle;
    height: 35px;
    box-sizing: border-box;
}

.info-wrapper p,
.info-wrapper span {
    margin: 0;
    display: inline-block;
    color: #7e7165;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-family: "FS-regular";
}
.info-wrapper p {
    margin-left: 5px;
    font-family: "FS-medium";
}
.list-wrapper {
    box-sizing: border-box;
    height: 30px;
    padding: 5px;
    margin-left: 5px;
    display: inline-block;
}
.color-box {
    margin-left:4px;
    display: inline-block;
    height: 20px;
    width:20px;
    border-radius: 5px;
}
.color-class1 {
    background-color: #5B72BA;
}
.color-class2 {
    background-color: #768D3B;
}
.color-class3 {
    background-color: #2C7849;
}
.color-class4 {
    background-color: #BB41A1;
}
.color-class5 {
    background-color: #D7D43C;
}
.color-class6 {
    background-color: #D38C4B;
}
.color-class7 {
    background-color: #97264A;
}
.color-class8 {
    background-color: #E48141;
}