.fingerprint-img-container {
    box-sizing: border-box;
    height: 125px;
    width: 135px;
    display: inline-block;
    border: 1px solid rgba(126,113,101,0.2);
    border-radius: 6px;
    margin: 5px;
    overflow: hidden;
}
.fingerprint-img-container:hover {
    cursor: pointer;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.13);
    transition: box-shadow 0.2s;
}
.fingerprint-img-container img {
    margin-top: -10px;
    margin-left: -10px;
    height: 150px;
    width: auto;
}
.fingerprint-active {
    border: 2px solid #8dbc55;
}